* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; 
color: black;}


body, html {
  width: 100%;
  height: 100%;
   }
 .box{
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient:vertical;
 }
 .head{
  width: 100%;
  height: 70px;

  display: -webkit-box;
}
.head h2{
  line-height:70px;
  -webkit-box-flex:1;
}
.head h2:nth-child(1){
  padding-left: 15px;
  

}
.head h2 a{
  color: #F96650;
}
/* .tt{
  width: 100%;
  height: 20px;
     background:#F7F7F0;
} */
.box .main {
  width: 100%; 
   background:#F7F7F0;
}
.box .main .p3 {

  width: 100%;
  height: 40px;
  border: none;
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
}
.box .main .p1 {

  width: 90%;
  height: 47px;
  border: 1px solid #ccc;
  margin-top: 30px;
  border-radius: 5px;
  background:#F9AFA0;
  color: #fff;
  text-align: center;
  line-height: 30px;
  margin-left: 18px;

}
.box .main .p2 {

  height: 50px;
  line-height: 50px;
  font-size: 12px;

}
.box .main .p2 span {
  float: left;
  color: #F96650
}
.box .main .p2 a {
  float: right;
  color: #F96650
}

.foot {
     background:#F7F7F0;
  width: 100%;
  display: -webkit-box;
}

.kj {
 width: 100%;
 height:230px;
background:#F7F7F0;
}
.kj p{
  margin-top: 180px;
  text-align: center;
}



.foot a {
  text-align: center;
  display: block;
  -webkit-box-flex: 1;
}
.foot img{
  width: 55%;
}

.foot a:hover {
  color: red;
}







